*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
section{
    padding: 50px 200px;
}
h1{
    margin-bottom: 50px;
}
.car{
    float: left;
    width: 24%;
    background-color: white;
    box-shadow: 0px 0px 30px rgb(238, 238, 238);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
}
.car:nth-of-type(4n+2){
    margin-left:  1%;
    margin-right:  .5%;
}
.car:nth-of-type(4n+3){
    margin-left:  .5%;
    margin-right:  1%;
}
.car .top{
    position: relative;
}
.car .top img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.car .bottom{
    padding: 15px;
}
.car .bottom .price{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.car .bottom .name{
    font-weight: 500;
    margin-bottom: 5px;
}
.car .bottom .info{
    font-weight: 200;
    margin-bottom: 5px;
}
.car .bottom .info2{
    font-weight: 200;
    color: rgb(160, 160, 160);
}
.car .top .barter{
    position: absolute;
    top:10px;
    left: 10px;
    background-color: limegreen;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
}
.car .top .favourite{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 30px;
    color: red;
}
.car .top .advertiser-type{
    background-color: rgb(72, 72, 255);
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
    position: absolute;
    bottom:10px;
    left: 10px;
}
.car .top .ad-type{
    background-color: white;
    padding: 4px 10px;
    border-radius: 5px;
    position: absolute;
    bottom:10px;
    right: 10px;
}
.car .top .ad-type .premium{
    color: gold;
    margin-right: 5px;
}
.car .top .ad-type .ultra{
    color: orangered;
    margin-right: 5px;
}